<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         stopOnFailure="true"
         stopOnError="true"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory="./.build/phpunit.cache">
    <extensions>
        <bootstrap class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>
    </extensions>
    <testsuites>
        <testsuite name="Arch Tests">
            <directory>tests/src/Arch</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile=".build/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
